# IDE
.vscode


# Hardware ignores

#build directories
hardware/build/

#compiled binaries and object files
hardware/test_buttons
hardware/read_btn_input
*.o
*.a
*.so

#files from boilerplates
hardware/boilerplates/ipc_fifo/read_fifo
hardware/boilerplates/ipc_fifo/write_fifo
hardware/boilerplates/ipc_fifo/fifo

hardware/boilerplates/gpio_hardware/led_blink
hardware/boilerplates/gpio_hardware/button_poll

